<ul>
  {{#each burger_data}}
    {{#unless this.devoured}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <form action="/burgers/update?_method=PUT" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <br>
          <button type="submit">EAT ME!</button>
        </form>
      </p>
    </li>
    {{/unless}}
  {{/each}}
</ul>
<ul>
  {{#each burger_data}}
    {{#if this.devoured}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}
      </p>
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>What kind of burger do you want to eat?</h2>
<form method="POST" action="/burgers/create" class="button-size">
  <textarea type="text" name="burger_name" placeholder="Enter your burger here"></textarea>
  <button type="submit">Add to Queue</button>
</form>